<h1>Login User</h1>

<%= form_with url: sessions_path do |fm| %>
  <div>
  <strong><%= fm.label :username, "Enter username" %></strong><br>
    <%= fm.text_field :username %>  <br>
  </div>


  <div>
    <strong><%= fm.label :password , "Enetr Password" %></strong><br>
    <%= fm.password_field :password %><br>
  </div><br>
  
 
  <div>
    <%= fm.submit "Login" %> <strong>
  </div>
  
  <%= link_to "Registration Now", new_user_path  %></strong><br><br>
  
  
  
<% end %>
