<h1>----------------------------Welcome----------------------------</h1>
<h3>Articles List Show</h3>
Our blog has <%= Article.public_count %> articles and counting!
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if current_user.present?; %>
<%= link_to "Create New Article", new_article_path %>

<%end%>
<br>
<br>
<br>


<% if current_user %>
  <strong><%= link_to "LogOut", 'logout'  %></strong><br>

<% else %>
  <strong><%= link_to "Session Timeout - login now", new_session_path %></strong><br>
<% end %>
