
<h1>New Registration</h1>

<%= form_with model: @user do |fm| %>
  <div>
  <strong><%= fm.label :username, "Enter Username" %></strong><br>
    <%= fm.text_field :username %>  <br>
    
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
  <strong><%= fm.label :email, "Enter Email" %></strong><br>
    <%= fm.text_area :email %><br>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
  </div>

  <div>
  <strong><%= fm.label :name , "Enter Name "%></strong><br>
    <%= fm.text_area :name %><br>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
   
  </div>

  <div>
  <strong><%= fm.label "Enter Birth Year" %></strong><br>
    <%= fm.text_field :dob %><br>
         
  </div>
    <div>
    <strong><%= fm.label :password , "Enetr Password" %></strong><br>
    <%= fm.password_field :password %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %><br>
    
  </div>
 
  <div>
    <%= fm.submit "Registration Here"%>
  </div>

<% end %>
