<!DOCTYPE html>
<html>
  <head>
    <title>Userportal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= "Active User : " %>
  <% if current_user.present? %>
  <strong><%= current_user&.name; %></strong>
    <%else%>
    <strong ><%= link_to "Plesre Login Now", new_session_path  %></strong><br>
    <%end%>
  <%= yield %>
  </body>
</html>
