<!DOCTYPE html>
<html>
  <head>
    <title>Userportal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= "Active Status : " %>
  <% if current_user.present? %>
    
  <strong><%= current_user&.name; %></strong>

    <%else%>
    <h1>Login & Registration Portal</h1>
    <%=  "Login Your Account - " %>

    <strong ><%= link_to "Plesre Login-  Click here", new_session_path  %></strong><br><br>

    <%=  "Create New Account - " %>
    <strong><%= link_to "Registration Now", new_user_path %></strong><br><br>

    <%end%>
  <%= yield %>
  </body>
</html>
